<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Our Love</title>
  </head>
  <body>
    <div id="header">
        <h1>Our love in a page</h1>
        <p>Howouu! So this is work in progress so for now I cant do much and for now, you cant post or change anything but everything is coming, give it time hehe...</p>
    </div>
    <div id="entries">

        <h2>Entries</h2>
        <p>Hi there! Here is where entries lay feel free to look at them my love</p>

        <div class="entry">
            <h2>Hey Masha!</h2>
            <p>So this is a new way I found to comunicate with you.</p>
            <p>I hope you enjoy following how it gets updated as much as I enjoyed doing it ;)</p>
            <%= image_tag("F1000013.JPG", :alt => "rss feed",size: "840x560") %>
            <p>More things are coming soon :)))</p> 
            <p> PD: Love you!</p>
        </div>
        <div class="entry">
            <p> So my lovee! I am here again, today is 26.03.20 and although my knowledge doesnt alow me to do something very complicated 
            i wanted to share something with you in a somehow special way so this time I decided to use this project that still needs lots of work. But I hope you enjoy this picture, pls make zoom so you can see our moments troughout our relationship hehhe. There is more coming ;) 
            </p>    
            <p>Hope you enjoy as much as I did doing this :)
            </p>
            <%= image_tag("F1000013Mosaic04.jpg", :alt => "rss feed",size: "840x560") %>
            <p>hmhmhm</p>
        </div>
    </div>
  </body>
</html>





