<h1>Hey Masha!</h1>
<p>So this is a new way I found to comunicate with you.</p>
<p>I hope you enjoy following how it gets updated as much as I enjoyed doing it ;)</p>
<%= image_tag("F1000013.JPG", :alt => "rss feed",size: "840x560") %>
<p>More things are coming soon :)))</p> 
<p> PD: Love you!</p>

